{% extends "base.html" %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<title>Project 7: Deploy a machine learning model online </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</head>
<body>
<!-- partial:index.partial.html -->


<h4>To optimize this model, please choose the following 2 parameters:</h4>
<ul>
  <li> The average ammount of credit reimburse before default (as a percentage of the total loan)</li>
  <li>The expected profit of your customer, as a percentage of their credit. (interest rate + insurance etc.) </li>
</ul>

<p> By modifying these two parameters, we can optimise the threshold of acceptance of the model to maximise profits on the validation dataset.</p>
<div class="form-holder">
  <div class="form-content">
    <div class="form-items">
      <h3>Credit model threshold modifier <img src="https://www.batangasjobs.net/jobscloud?format=nothtml&cId=MjEzMDU=" alt='Home-Credit-Logo-2009' widht="75px" height="50px"> </h3>
      <p>Enter the information requested below</p>
      <form class="requires-validation" novalidate>

        <div class="col-md-12">
          <input class="form-control" type="number" name="perc_reimbursed" min="0.05" max=".85" step="0.05" placeholder="Avg % of Credit reimbursed before default" required>
          <div class="valid-feedback">% entered is valid</div>
          <div class="invalid-feedback">% entered field cannot be blank!</div>
        </div>

        <div class="col-md-12">
          <input class="form-control" type="number" name="perc_profit" min="0.01" max=".25" step="0.01" placeholder="Profit, as a percentage of Credit" required>
          <div class="valid-feedback">% entered is valid</div>
          <div class="invalid-feedback">% entered field cannot be blank!</div>
        </div>

        <div class="col-md-12 mt-2">
          <label class="mb-3 mr-1" for="default_cut_off">Choose default cut off: </label>

          <input type="radio" class="btn-check" name="default_cut_off" id="yes" autocomplete="off" required>
          <label class="btn btn-sm btn-outline-secondary" for="yes">Yes</label>

          <input type="radio" class="btn-check" name="default_cut_off" id="no" autocomplete="off" required>
          <label class="btn btn-sm btn-outline-secondary" for="no">No</label>

          <div class="valid-feedback mv-up">You selected a valid option!</div>
          <div class="invalid-feedback mv-up">Please select Yes or No</div>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label">I confirm that all data are correct</label>
          <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
        </div>

        <div class="form-button mt-3">
          <button id="submit" type="submit" class="btn btn-primary">Enter</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
<!-- partial -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
{% endblock content %}
